@import "tailwindcss";

:root {
  --background: #635454;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #484242;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}

@utility accordion {
  @apply bg-amber-500 rounded-lg border overflow-hidden;

  details {
    summary {
      @apply list-none w-full font-semibold flex justify-between cursor-pointer p-4 [&::-webkit-details-marker]:hidden;
    }
  }

  details[open] {
    summary {
      @apply bg-gray-600;
    }
  }
}
