@import "tailwindcss";

:root {
  --background: #635454;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-solid: #3f20f5;
  --color-dark: #171424;
  --color-soft: #4020f515;
  --color-softy: #f3f2ff;
  --color-soft-green: #6eabb4;
  --color-solid-green: #298290;
  --color-gray: #f9f9f9;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #484242;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}

@utility accordion {
  @apply bg-white rounded-lg border overflow-hidden;

  details::details-content {
    block-size: 0;
    transition: block-size 0.3s, content-visibility 0.3s;
    transition-behavior: allow-discrete;
    overflow: hidden;
  }

  /* , opacity 0.3s */
  /* opacity: 0; */
  /* opacity: 1; */

  details:open::details-content {
    block-size: auto;
    block-size: calc-size(auto, size);
  }

  details {
    summary {
      @apply list-none w-full font-semibold flex justify-between cursor-pointer p-4 hover:bg-gray-100 [&::-webkit-details-marker]:hidden;
    }
  }

  details[open] {
    summary {
      @apply bg-white;
    }
  }
}
