@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e0cbcb;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}

@utility accordion {
  @apply bg-white rounded-lg border overflow-hidden;

  details::details-content {
    block-size: 0;
    transition: block-size 0.3s, content-visibility 0.3s;
    /* , opacity 0.3s */
    /* opacity: 0; */
    transition-behavior: allow-discrete;
    overflow: hidden;
  }

  details {
    summary {
      @apply list-none w-full font-semibold flex justify-between cursor-pointer p-4 hover:bg-gray-100 [&::-webkit-details-marker]:hidden;
    }
  }

  details:open::details-content {
    /* opacity: 1; */
    block-size: auto;
    block-size: calc-size(auto, size);
  }

  details[open] {
    summary {
      @apply bg-white;
    }
  }
}
